<div class="container">
  <div class="left">
    <div>
      依赖期数：
      <input type="number" [(ngModel)]="player.issueCount">
    </div>
    <div>
      分块大小：
      <input type="number" [(ngModel)]="player.bufferSize">
    </div>
    <div>
      <p>
        <button (click)="updateOffset()">显示图表</button>
        <input type="number" [(ngModel)]="offset">
        <button (click)="offset = offset + 1; updateOffset()">&lt;</button>
        <button (click)="offset = offset > 0 ? offset - 1 : 0; updateOffset()">&gt;</button>
      </p>
      <p>
        <button (click)="countLoss()">统计遗漏</button>
        <input type="number" [(ngModel)]="lossTimes"> * {{this.player.cpus.length - 1}} 期</p>
      <p>
        <button (click)="startTolerant()">容错做号</button>
        <input type="number" [(ngModel)]="toleTimes"> * {{this.player.cpus.length - 1}} 期</p>
      <p>
        <button (click)="simulate()">模拟实战</button>
        <input type="number" [(ngModel)]="simTimes">
      </p>
      <!-- <button (click)="find()">查找</button> -->
    </div>
    <!-- <div *ngFor="let pg of ps.paramGroups;">
      <p>{{pg.name}}</p>
      <ul>
        <li *ngFor="let p of pg.params;">
          {{p.name}}
          <button *ngFor="let v of p.values;" [title]="p.valNumMap[v].length" (click)="showChart(pg, p, v)" [class.active]="currPg === pg && currParam === p && currValue === v">{{v}}</button>
        </li>
      </ul>
    </div> -->
    <button *ngFor="let o of pvs;" (click)="showChart(o)" [class.active]="currPg === o.pg && currParam === o.p && currValue === o.v">{{o.pg.name}}-{{o.p.name}}-{{o.v}}-{{o.p.valNumMap[o.v].length}}</button>
    <p *ngFor="let k of lastTenKjhm | async" class="draw-list" [class.yes]="currParam && currParam.getVal(k.kjhm)===currValue">{{k.issue}}: {{k.kjhm}}</p>
  </div>
  <div class="right" *ngIf="options">
    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'stockChart'" [options]="options" [callbackFunction]="hcCallback" [(update)]="updateDemo2" style="width: 100%; height: 100%; display: block;"></highcharts-chart>
  </div>
</div>

<!-- <highcharts-chart *ngFor="let opt of allN1Options;" [Highcharts]="Highcharts" [constructorType]="'stockChart'" [options]="opt | async" style="width: 600px; height: 500px; display: inline-block;"></highcharts-chart> -->

<app-value-analysis [values]="str"></app-value-analysis>
