<div style="width: 100%; height: 100%; display: flex; flex-direction: row;">
  <div style="width:240px;overflow:auto;">
    <div>
      统计总期数：
      <input type="number" [(ngModel)]="issueCount">
    </div>
    <div>
      缓冲区大小：
      <input type="number" [(ngModel)]="bufferSize">
    </div>
    <div>
      <button (click)="startStatistic()">开始统计</button>
    </div>
    <!-- <div *ngFor="let pg of ps.paramGroups;">
      <p>{{pg.name}}</p>
      <ul>
        <li *ngFor="let p of pg.params;">
          {{p.name}}
          <button *ngFor="let v of p.values;" [title]="p.valNumMap[v].length" (click)="showChart(pg, p, v)" [class.active]="currPg === pg && currParam === p && currValue === v">{{v}}</button>
        </li>
      </ul>
    </div> -->
    <button *ngFor="let o of pvs | async" (click)="showChart(o)" [class.active]="currPg === o.pg && currParam === o.p && currValue === o.v">{{o.pg.name}}-{{o.p.name}}-{{o.v}}</button>
  </div>
  <div *ngIf="options" style="flex: 1;">
    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'stockChart'" [options]="options" [callbackFunction]="hcCallback" [(update)]="updateDemo2" style="width: 100%; height: 100%; display: block;"></highcharts-chart>
  </div>
</div>

<!-- <highcharts-chart *ngFor="let opt of allN1Options;" [Highcharts]="Highcharts" [constructorType]="'stockChart'" [options]="opt | async" style="width: 600px; height: 500px; display: inline-block;"></highcharts-chart> -->

<app-value-analysis [values]="str"></app-value-analysis>
